client/node_modules/
client/dist/
ENGINEER_SPEC.md
.agents/
client/addons/addon-states.json
client/addons/developer-toolkit/config.json
client/addons/quick-react/index.json
client/addons/quick-react/config.json
client/addons/stealth-mode/config.json
client/addons/template/hello.txt
client/addons/theme-injector/config.json
fix_addon_manager.py
.gitignore
fix_styles.py
client/addons/hover-zoom/config.json
client/addons/theme-injector/themes/fix_themes.py
client/addons/dm-folders/config.json
client/addons/dm-folders/index.json
client/addons/zen-mode/config.json
client/addons/quick-translate/config.json
client/test-cache/Xenova/nllb-200-distilled-600M/config.json
client/test-cache/Xenova/nllb-200-distilled-600M/generation_config.json
client/test-cache/Xenova/nllb-200-distilled-600M/tokenizer_config.json
client/test-cache/Xenova/nllb-200-distilled-600M/tokenizer.json
client/test-cache/Xenova/nllb-200-distilled-600M/onnx/decoder_model_merged_quantized.onnx
client/test-cache/Xenova/nllb-200-distilled-600M/onnx/encoder_model_quantized.onnx
